.App {
  text-align: center;
  
}

h1 {
  color: black;
  font-family: Comic Sans MS;
  text-decoration: underline;
  font-weight: bolder;
  font-size: 20rem;
}

h3 {
  color: black;
  font-family: Comic Sans MS;
}

h6 {
  color: black;
}

h2 {
  color: black;
  text-decoration: underline;
  font-style: italic;
}
